@using WebAppService.Models

<link href="~/web/assets/css/doctor-detail.css" rel="stylesheet" />
<div class="entry-header entry-header-2 mb-3 mt-0 text-center">
    <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url(/web/assets/imgs/farme.png)">
    </div>
</div>
<div class="container_detail_doctor">
    <div class="profile-container">
        <div class="row">
            <div class="profile-image col-md-6 col-12">
                <div class="post-thumb d-flex img-hover-scale doctor-avartar">
                    @if (Model.UrlImage != null)
                    {   <img src="@Model.UrlImage" alt="@Model.HoTen" class="img-fluid img-respone-service" />
                    }
                    else
                    {
                        <img src="/root/6388000.png" alt="@Model.HoTen" class="img-fluid img-respone-service" />
                    }
                </div>
                <div class="degree-title">@Model.ChucDanh</div>
            </div>
            <div class="profile-info col-md-6 col-12">
                <div class="name">@Model.HoTen</div>
                <h4 class="department">@Model.DonViKhoa </h4>

                <div class="section">
                    <h3><i class="fas fa-graduation-cap text_title"></i> Bằng cấp – Học vị</h3>
                    <p>@Model.BangCapHocVi</p>
                </div>

                <div class="section">
                    <h3><i class="fas fa-globe text_title"></i> Ngôn ngữ</h3>
                    <p>@Model.NgonNgu</p>
                </div>

                <div class="section text-fix" style=" list-style: disc !important;">
                    <h3><i class="fas fa-user icon text_title"></i> Kinh nghiệm làm việc</h3>
                    @Html.Raw(Model.KinhNghiemLamViec)
                </div>
            </div>
        </div>
    </div>
</div>
