@using WebAppService.Models
@{
    ViewData["Title"] = "BlogDetail";
}
<link href="~/web/assets/css/blog_detail.css" rel="stylesheet" />
<link href="~/web/tiny-css/tiny.css" rel="stylesheet" />

<div class="entry-header entry-header-2 mb-0 mt-0 text-center">
    <div class="thumb-overlay img-hover-slide border-radius-5 position-relative" style="background-image: url(/web/assets/imgs/farme.png)">
    </div>
</div>
<div class="container px-30 py-2 pt-30 container-mobile">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="latest-post mb-30">
                        <div class="widget-header position-relative mb-10">
                            <div class="row ml-5">
                                <div class="col-12">
                                    <div class="no-arrow text-c-0 mb-2">@Model.Record.CbNhomBaiViet</div>
                                </div>
                                <div>
                                    <span class="text-head-breadcrumb text-c-d ">@Model.Record.TieuDeBaiViet</span>
                                </div>
                            </div>
                        </div>
                        <div class="loop-list-style-3">
                            <div class="col-lg-12 col-md-12" id="tiny-css">
                                @Html.Raw(Model.Record.NoiDung)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 sidebar-right pr-0 hide-on-mobile">
                    <div class="widget-header position-relative pl-15 mb-10">
                        <div class="row">
                            <div class="col-12">
                                 <span class="text-bdc-1">Tất cả bài viết</span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget loop-list-style2 col-lg-12 col-md-12">
                        @foreach (var item in Model.ListData)
                        {
                            <article class="p-0 background-white border-radius-10 mb-15 mr-0  fadeIn animated">
                                <div class="d-flex">
                                    <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                        <a class="color-white" href="#">
                                            <img src="@item.UrlImage" width="115px" height="100%" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content media-body">
                                        <div class="entry-meta mb-10 mt-1">
                                            <span class="post-in background1 text-secondary font-x-small">@item.CbNhomBaiViet</span>
                                        </div>

                                        <small class="post-title font-weight-500 mb-10 text-limit-2-row"><a href="#" class="text-c-4-1">@item.TieuDeBaiViet</a></small>
                                        <div class="entry-meta meta-1 flex-column font-x-small text-capitalize mb-10">
                                            <span class="text-c-8-1 m-0"> <i class="ti ti-calendar"></i> @item.NgayDang</span>
                                            <span class="mr-1 ml-1 text-c-8-1">|</span>
                                            <span class="text-c-8-1"><i class="ti ti-timer"></i> @item.ThoiGianCapNhap</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

