@using WebAppService.Models
@{
    ViewData["Title"] = "ServiceDetail";
}
<link href="~/web/assets/css/service_detail.css" rel="stylesheet" />
<link href="~/web/assets/css/service.css" rel="stylesheet" />
<link href="~/web/tiny-css/tiny.css" rel="stylesheet" />
@section Scripts {
    <script>
        function scrollSlider(direction) {
            const slider = document.getElementById('slider');
            const scrollAmount = 320;
            slider.scrollBy({
                left: scrollAmount * direction,
                behavior: 'smooth'
            });
        }
    </script>
}
<div class="entry-header entry-header-2 mb-1 mt-0 text-center">
    <div class="thumb-overlay img-hover-slide position-relative urlBaner">
    </div>
</div>
<div class="container px-30 py-2 pt-0 container-mobile">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="latest-post mb-50">
                    <div class="archive-header text-center dmb-30 mt-0">
                        <div class="container">
                            <div class="breadcrumb">
                                <span class="no-arrow text-c-0">Dịch vụ của chúng tôi</span>
                            </div>
                            <div>
                                <span class="text-head-breadcrumb text-c-d">@Model.Record.TieuDeBaiViet</span>
                            </div>
                        </div>
                    </div>
                    <div class="loop-list-style-3 fx-Inter">
                        <div class="col-lg-12 col-md-12"  id="tiny-css">
                            @Html.Raw(Model.Record.NoiDung)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="message-client hide-on-mobile" style="background: #F8F8F8;">
    <div class="container px-30 py-2 container-mobile">
        <div class="row" id="">
            <div class="text-center">
                <span class="text-head-breadcrumb text-c-d">Dịch vụ liên quan</span>
            </div>
            <div class="related-services">
                <button class="nav-button nav-left" onclick="scrollSlider(-1)">❮</button>
                <button class="nav-button nav-right" onclick="scrollSlider(1)">❯</button>
                <div class="slider-container" id="slider">
                    @foreach (var item in Model.ListData)
                    {
                        <article class="col-lg-4 col-6 mb-4 p-1 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                            <div class="background-white p-0 pb-10 mb-5 box-shadow-img card-hover card-active">
                                <div class="post-thumb d-flex mb-15 img-hover-scale">
                                    <a href="/Service/ServiceDetail/@item.IdDichVu">
                                        <img src="@item.UrlImage" class="img-fluid img-respone-service" alt="" />
                                    </a> 
                                </div>
                                <div class="pl-10 pr-10">
                                    <div class="post-title mb-5 text-limit-c-row">
                                        <a href="/Service/ServiceDetail/@item.IdDichVu" class="text-c-3">@item.TieuDeBaiViet</a>
                                    </div>
                                    <div class="">
                                        <p class="post-exerpt text-c-2 text-limit-c-row">@item.MoTaNgan</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

